@media (min-width: 100px){
  hr{margin-top: 10em;}
  .comentarios{
    margin-top: 2em;
  }
}
@media (min-width: 569px){
  hr{margin-top: 0;}
  .comentarios{
    margin-top: 0;
  }
}

.comentario-box{
  margin-left: 20%;
  width: 60%;
  font-size: large;
  margin-top: 1em;
  padding: 10px;
  background-color: rgba(41, 111, 165, 0.151);
  border-radius: 10px;
}
.preview{
  width: 100%;
}
.nuevoComentario{
  background-color: #0a6b7053;
  width: 100%;
  max-width: 70em;
}
.nuevo-box{
margin-top: 2em;
}
.fecha{
  text-align: left;
  margin-left: 10%;
}
.row{
  height: 40%!important;
}
.anuncio-page {
  padding: 3% 0 0;

  max-width: 2000px;
  position: relative;
}

.wraper{
  position: relative;
  padding-bottom: 100%;
}
.imagen{
  margin-left: 7%;
  width: 90%;
  height: fit-content;
  border: 1px solid black; 
  position: absolute;
}

.anuncio-form {
    box-shadow: 8px 8px 15px 10px rgba(41, 41, 41, 0.738);
    background-color: white;
    min-height: 80vh;
    
}

.titulo-wraper{

  margin-top: 3em;
}
.titulo{
  color: #0a6b70;
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px; 
  font-size: 40px;
  font-weight: bold; 

}

.descripcion-wraper{
margin: 2em;
}
.descripcion{
font-family: 'Times New Roman', Times, serif;
font-size: 23px;

}


