@media (max-width: 576px){
.card{
    width: 85%;
}
}
@media (min-width: 755px){
    .misanuncios-page{
        width: 80vw;
    }
    }
@media (max-width: 755px){
    .misanuncios-page{
        width: 60vw;
    }
    }

.misanuncios-page {
    padding: 5% 0 0;
    min-width:60vw;
    position: relative;
   margin-right: 1em;

}

.misanuncios-form {
	box-shadow: 8px 8px 15px 10px rgba(41, 41, 41, 0.738);
	background-color: white;
    height: 100vh;
    display: block;
    
}
img{
    border-radius: 4px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    padding: 1%;
}
.card{
    margin-top: 2em;
    transition: all .20s ease-in-out;
    -webkit-box-shadow: 9px 13px 16px 5px rgba(0,0,0,0.87); 
    box-shadow: 9px 13px 16px 5px rgba(0,0,0,0.87); 
    
}
.carta{
    margin-left: 5%;
}
.card:hover{
    transform: translateY(-10px);
    transition: all .20s ease-in-out;
}