
@media  (min-width: 1400px) {
    .anuncio-form {
        height: 60em!important;
    }
   
}

@media  (min-width: 990px) and  (max-width:1400px)  {
    .anuncio-form {
        height: 50em!important;
    }
   
}


.preview{
    width: 100%;
}

@media (max-width: 990px){

    .anuncio-form {
        height: 38em!important;
    }
    
}

.anuncio-page {
    padding: 3% 0 0;

    max-width: 2000px;
    position: relative;
  }

.wraper{
    position: relative;
    padding-bottom: 100%;
}
.imagen{
    margin-left: 7%;
    width: 90%;
    height: fit-content;
    border: 1px solid black; 
    position: absolute;
}
  
.anuncio-form {
      box-shadow: 8px 8px 15px 10px rgba(41, 41, 41, 0.738);
      background-color: white;
      height: 80vh;
      
  }

.form-control{
    width: 80%;
    margin-left: 10%;
}

#descripcion{
    float: left;
            width: 100%;
            height: auto;
}

.form-group{
    margin-top: 2em;
}
.etiqueta{
    font-size: 1.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}