
<div class="container" style="height: 115vh">
        
    <div class="row text-center anuncio-page" >
        <div class="col-md-12 anuncio-form rounded" style="height: 100%;">
            <form #miFormulario="ngForm" (ngSubmit)="guardar()" autocomplete="off">
         <div class="row" style="height: 50%;">


             <div class="col-6" style="height: 70%;" >

                
                <label for="titulo" class="etiqueta">Imagen</label>
                <div class="form-group subida">
                    <input type="text" class="form-control" id="imgsrc" aria-describedby="imgsrc" name="img" placeholder="Introduzca la url de la imagen" minlength="10" requiered [(ngModel)]="modelo.img">
                    <span class="form-text text-danger"
                    *ngIf="!imgValida()">
                  * La url de la imagen debe tener como mínimo 10 caracteres, empezar por http y acabar en .png o .jpg, .jpeg*
              </span><br>
                    <small id="emailHelp" class="form-text text-muted">Compruebe que la url a la imagen es válida</small>
                </div>
                <div class="wraper mt-5">
              <div class="imagen" > 
                    <img  class="preview" [src]="modelo.img" alt="">
                </div>


            </div>
            
                
          
            
           
        </div>
             <div class="col-6" style="height: 70%;">
               
                    <div class="form-group">
                      <label for="titulo" class="etiqueta">Título</label>
                      <input type="text" class="form-control" id="titulo" aria-describedby="titulo" name="titulo" placeholder="Introduzca el Título" required minlength="10" [(ngModel)]="modelo.titulo">
                      <span class="form-text text-danger"
                    *ngIf="tituloValido()">
                  * El título debe tener como mínimo 10 caracteres *
              </span><br>
                      <small id="emailHelp" class="form-text text-muted">Intente que el Título sea breve y concreto. Ej: Portatil 2º Mano</small>
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="etiqueta">Descripción</label><br>
                        <textarea  id="descripcion" rows="8" aria-describedby="descripcion" name="descripcion" placeholder="Introduzca el la descripción del producto o servicio a vender"
                        required minlength="10" maxlength="300" [(ngModel)]="modelo.descripcion"></textarea>
                        <span class="form-text text-danger"
                    *ngIf="descripcionValida()">
                  * La descripción debe tener como mínimo 10 caracteres *
              </span>
                        <br><small id="descripcionTexto" class="form-text text-muted">Aquí puedes contar todo lo que quieras</small>
                      </div>
                    
                    
                 
            </div>

         </div>
         <div class="row">
             <div class="col-4 offset-4">

                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
             </div>
            
         </div>
        </form>
        </div>
    </div>
                
</div>
    

