h3{
    color: rgb(0, 127, 206);
    font-weight: bolder;
    font-size: 3em;
    
}
.navbar{
    width: 100%;
}
.explorar{
    margin-right: 3em;
}
.navbar-nav > li > .dropdown-menu { background-color: rgba(255, 255, 255, 0.972); }
a:hover{
    font-weight: bold;
}