
<nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
    <div class="container-fluid" >
      <h3>P2P</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item explorar explorar">
            <a class="nav-link"  href="/"  data-toggle="tooltip" data-placement="bottom" title="Explorar"><i class="fa fa-compass fa-3x"></i></a>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            data-toggle="tooltip" data-placement="bottom" title="Mi Cuenta">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <ul class="dropdown-menu ms-auto dropdown-menu-end" aria-labelledby="navbarDropdown" *ngIf="estaRegistrado()">
              <li><a class="dropdown-item" [routerLink]="['/myaccount/misdatos']" routerLinkActive="router-link-active" >mi cuenta</a></li>
              <li><a class="dropdown-item" [routerLink]="['/myaccount/misanuncios']">mis anuncios</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()" style="color:red">cerrar sesión</a></li>
            </ul>
            <ul class="dropdown-menu ms-auto dropdown-menu-end" aria-labelledby="navbarDropdown" *ngIf="!estaRegistrado()">
              <li><a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="router-link-active" >Iniciar Sesion</a></li>
              <li><a class="dropdown-item" [routerLink]="['/register']">Registrarse</a></li>
            
            </ul>
          </li> 
        </ul>
      </div>
    </div>
  </nav>

  