.containerOwnApp	{
	box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
	padding-top: 15px;
}

.login-page {
  padding: 8% 0 0;
  margin: 0 auto 100px;
  max-width: 500px;
  height: 10em;
  position: relative;
}

.login-form {
	box-shadow: 8px 8px 15px 10px rgba(41, 41, 41, 0.738);
	background-color: white;
    
}

.login-form-header{
	padding-top: 16px;
}
input{
    height: 50px;
}
a{
    text-decoration: none;
    font-size: large;
    margin-top: 1%;
}
a:hover{
    text-decoration:underline;
}
.login-form-row {
	padding-top: 5px;
	padding-bottom: 5px;
    width: 80%;
    margin-left: 10%;
}

.login-form-font-header {
	font-size:50px; 
	font-weight: bold;
    color: #007C9B;
}
body{
    background-color: #56638A;
}
