
<div class="container" style="height: 115vh">
        
    <div class="row text-center notFound-page " >
        <div class="col-12  contenido rounded">
            <div class="error text-center">
       

                        <div class="col-12">
                          <h1>404</h1>
                          <h2>Oopss.. Esta página no existe</h2>
                          <p>La pagina que busca no existe o no es accesible para usted. Puede pulsar el boton inferior para volver a la página principal
                          </p>
                          <button class="btn green" [routerLink]="['/']"  >Volver</button>
                        </div>
            </div>
        </div>

                
    </div>
  </div>

