@media (min-width: 670px) { 
    .misdatos-page{
        width: 30em;
    }
}
@media (min-width: 820px) { 
    .misdatos-page{
        width: 42em;
    }
}

.misdatos-page {
    padding: 5% 0 0;
    
    height: 10em;
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
   
}

.misdatos-form {
	box-shadow: 8px 8px 15px 10px rgba(41, 41, 41, 0.738);
	background-color: white;
    height: 35em!important;
    
}
.form-group{
    margin-top: 2em;
}
.control-label{
    font-size: 1em;
    text-align: left;
}
.botones{
    text-align: center;
    margin-top: 2%;
}
.btn{
    margin: 2em
}